@tailwind base;
@tailwind components;
@tailwind utilities;

.play-button:hover .hidden {
  display: flex;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff;
}

.carousel-dark .carousel-indicators .active {
  background-color: #00acc1;
}

ul.striped-list > li {
  border-bottom: 1px solid #212529;
  padding: 6px;
}

ul.striped-list > li:nth-of-type(odd) {
  background-color: #111;
}

ul.striped-list > li:last-child {
  border-bottom: none;
}

ul.striped-list li:hover {
  background-color: #00acc1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00acc1;
  border-radius: 10px;
}
